.table-listItem
  display: flex
  flex-flow: row nowrap
  justify-content: space-between
  align-items: center
  text-align: left

.table-td
  flex: 0 0 14.2%
  margin-bottom: 20px
  overflow: hidden
  text-overflow: ellipsis
  padding-right: 5px

  &:first-child
    color: #2ce07a
    padding-left: 15px

.table-td.lose
  color: #da0f7a

.table-td.win
  color: #2ce07a
